<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dyslexia.titi.frag27">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".permainan.kuis.ScoreActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.kuis.kataSifat.GameKataSifatActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.kuis.kataKeterangan.GameKataKeteranganActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.kuis.kataKerja.GameKataKerjaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.kuis.simbolAngka.GameSimbolAngkaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.kuis.kataBenda.GameKataBendaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".permainan.susunAlfabet.LowercaseActivity"
            android:label="Menyusun Abjad"
            android:parentActivityName=".permainan.PermainanActivity"
            android:theme="@style/GameAbjad" />
        <activity
            android:name=".permainan.kuis.KuisActivity"
            android:label="Menu Kuis"
            android:theme="@style/MenuKuis" />
        <activity
            android:name=".permainan.susunAlfabet.SusunAlfabet"
            android:label="Menyusun Abjad"
            android:parentActivityName=".permainan.PermainanActivity"
            android:theme="@style/GameAbjad" />
        <activity
            android:name=".bantuan.BantuanActivity"
            android:label="Bantuan"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/Bantuan" />

        <activity android:name=".tentang.TentangActivity"
            android:label="Tentang"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/Tentang"/>

        <activity android:name=".setting.SettingActivity"
            android:label="Pengaturan"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/Setting"/>
        <activity
            android:name=".perbaikanKata.PerbaikanKataActivity"
            android:label="Perbaikan Kata"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/PerbaikanKata" />
        <activity
            android:name=".permainan.PermainanActivity"
            android:label="Permainan"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/MenuGame" />
        <activity
            android:name=".kamus.KamusActivity"
            android:label="Kamus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".MenuActivity"
            android:label="Disleksia App"
            android:theme="@style/MenuUtama" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/noTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>