<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dyslexia.app">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.permainan.alphabetSpeech.AlphabetSpeechActivity"
            android:label="Pengucapan Alphabet"
            android:theme="@style/Pengucapan"
            android:parentActivityName=".ui.permainan.PermainanActivity"/>

        <activity android:name=".ui.setting.ProfilActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:label="Profil"/>
        <activity
            android:name=".ui.permainan.kuis.game.ScoreAkhirActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.kuis.game.GameKataSifatActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.kuis.game.GameKataKeteranganActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.kuis.game.GameKataKerjaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.kuis.game.GameSimbolAngkaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.kuis.game.GameKataBendaActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name=".ui.permainan.susunAlfabet.LowercaseActivity"
            android:label="Menyusun Abjad"
            android:parentActivityName=".ui.permainan.PermainanActivity"
            android:theme="@style/GameAbjadLower" />
        <activity
            android:name=".ui.permainan.kuis.KuisActivity"
            android:label="Menu Kuis"
            android:parentActivityName=".ui.permainan.PermainanActivity"
            android:theme="@style/MenuKuis" />
        <activity
            android:name=".ui.permainan.susunAlfabet.UppercaseActivity"
            android:label="Menyusun Abjad"
            android:parentActivityName=".ui.permainan.PermainanActivity"
            android:theme="@style/GameAbjad" />
        <activity
            android:name=".ui.bantuan.BantuanActivity"
            android:label="Bantuan"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/Bantuan" />
        <activity
            android:name=".ui.tentang.TentangActivity"
            android:label="Tentang"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/Tentang" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="Pengaturan"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/Setting" />
        <activity
            android:name=".ui.perbaikanKata.WordRepairActivity"
            android:label="Perbaikan Kata"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/PerbaikanKata" />
        <activity
            android:name=".ui.permainan.PermainanActivity"
            android:label="Permainan"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/MenuGame" />
        <activity
            android:name="dyslexia.app.ui.kamus.DictionaryActivity"
            android:label="Kamus"
            android:parentActivityName="dyslexia.app.ui.feature.MenuActivity"
            android:theme="@style/MenuKamus" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.keterangan.KeteranganActivity"
            android:label="Kata Keterangan" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.sifat.SifatActivity"
            android:label="Kata Sifat" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.kerja.KerjaActivity"
            android:label="Kata Kerja" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.benda.BendaActivity"
            android:label="Kata Benda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.konsonan.KonsonanNgNyActivity"
            android:label="Akhiran Konsonan, Ng, Ny"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.angka.AngkaActivity"
            android:label="Simbol Angka" />
        <activity
            android:name="dyslexia.app.ui.kamus.menu.huruf.HurufActivity"
            android:label="Simbol Huruf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.permainan.kuis.skor.ScoreActivity"
            android:label="Skor"
            android:parentActivityName="dyslexia.app.ui.authentication.MainActivity"
            android:theme="@style/Score" />
        <activity
            android:name="dyslexia.app.ui.authentication.login.LoginActivity"
            android:theme="@style/noTitleBar" />
        <activity
            android:name="dyslexia.app.ui.feature.MenuActivity"
            android:label="Disleksia App"
            android:theme="@style/MenuUtama" />
        <activity android:name="dyslexia.app.ui.authentication.register.RegisterActivity"
            android:parentActivityName="dyslexia.app.ui.authentication.MainActivity"
            android:label="Daftar"/>
        <activity
            android:name="dyslexia.app.ui.authentication.MainActivity"
            android:theme="@style/noTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>